/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v36-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v36-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v36-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #F5F5F5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* header */

.header {
  margin-bottom: 40px;
  padding: 20px;
  background: #FFF;
  box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32), 0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);
}

.header__container {
  display: flex;
}

.logo {
  margin-right: 50px;
}

.search-input {
  padding: 12px 16px;
  width: 581px;
  color: var(--txt_grey, #B0B0B0);
  border: 1px solid rgba(51, 51, 51, 0.20);
  font-size: 14px;
}

.main__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}

.main__btn {
  display: flex;
  align-items: center;
  padding: 12px 26.5px;
  margin: auto;
  border: 1px solid var(--firm, #9873FF);
}

.main__btn svg {
  margin-right: 10px;
}

/* table */

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  margin-bottom: 40px;
}

tr:not(:nth-child(1)) {
  background: var(--Light-Color, #FFF);
}

.table .table__row {
  border: 0;
  border-bottom: 1px solid var(--grey, #C8C5D1);
}

.table__column svg {
  padding: 0;
}

td {
  padding: 10px;
  min-width: 240px;
  font-size: 14px;
}

td:nth-child(1) {
  min-width: 120px;
  color: var(--txt_grey, #B0B0B0);
}

td:nth-child(5) {
  min-width: 120px;
}

th {
  padding: 8px 10px;
  color: var(--txt_grey, #B0B0B0);
  font-size: 12px;
  font-weight: 400;
}

td .table__btn {
  padding: 0;
}

td .table__link {
  padding: 0;
}

.table__btn:not(:last-child) {
  margin-right: 30px;
}

td .contacts-icon {
  padding: 0;
}

.table .table__created-time {
  padding: 0;
  color: var(--txt_grey, #B0B0B0);
  margin-left: 10px;
}

/* modal */


.modal-header {
  padding: 24px 30px 16px;
  border: 0;
}

.modal-header_text-center {
  text-align: center;
}

.modal-title {
  font-size: 18px;
  font-weight: 700;
}

.modal-title_text-center {
  width: 100%;
  text-align: center;
}

.modal-body {
  padding: 0;
}

.modal-body__text {
  max-width: 275px;
  margin: auto;
  text-align: center;
}

.modal-footer {
  border-top: 0;
}

.form__main-info {
  padding: 0 30px;
  margin-bottom: 26px;  
}

.form__label {
  width: 100%;
  margin-bottom: 15px;
  font-size: 10px;
}

.form__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--grey, #C8C5D1);;
  font-size: 14px;
  font-weight: 600;
}

.form__input-margin {
  margin-bottom: 32px;
}

.form__select {
  padding: 10px 12px;
  min-width: 123px;
  border: 1px solid var(--grey, #C8C5D1);
  border-right: 0;
  background: #E7E5EB;
  font-size: 12px;
}

.contacts {
  padding: 8px 30px;
  margin-bottom: 8px;
  background: #c8c5d14f;
  text-align: center;
}

.contacts-item {
  display: flex;
  margin-bottom: 15px;
}

.contacts-item:last-child {
  margin-bottom: 25px;
}

.contacts-item__input {
  padding: 8px 12px;
  border: 1px solid var(--grey, #C8C5D1);
  border-right: 0;
  background: #c8c5d14d;
  font-weight: 600;
}

.contacts-item__btn {
  padding: 11px 6px;
  border: 1px solid var(--grey, #C8C5D1);
  background: #E7E5EB;
}

.add-contact-btn {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 14px;
  font-weight: 600;
}

.add-contact-btn svg {
  margin-right: 4px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__btn-primary {
  padding: 10px 35px;
  margin-bottom: 5px;
  background: var(--firm, #9873FF);
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

.form__btn-secondary {
  font-size: 12px;
  text-decoration: underline;
}

.form__label span {
  color: var(--firm, #9873FF);
}

.errors-box {
  text-align: center;
}

.error-message {
  margin: 0;
  text-align: center;
  color: var(--red, #F06A4D);
  font-size: 10px;
}

.form-error {
  border: 1px solid #f44336 ;
}